### SANS iOS Forensics Poster (optional)

Download: [[GitHub Mirror]](https://github.com/featherbear/UNSW-COMP6845-ios/raw/master/SANS_DFPS_iOS-APPS-v1.2_09-22.pdf) [[CyberBlue.pro Mirror]](https://cyberblue.pro/Sans_Posters/SANS_DFPS_iOS-APPS-v1.2_09-22.pdf)
